.divCard{
    width: 332px;
    height: 439px;
    padding: 1rem;
}

.divCarImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 252px;
    height: 300px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.cardImg{
    width: 252px;
    height: 300px;
    object-fit: contain;
}

.cardCategory{
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 700;
    color: var(--color-light-gray);
    letter-spacing: 0.75px;
    line-height: 24px;
}

.cardName{
    font-family: var(--font-principal);
    font-size: 21px;
    font-weight: 400;
    color: var(--color-dark-gray-2);
    letter-spacing: 0.75px;
    line-height: 28px;

}

.prices{
    display: flex;
    gap: 0.5rem;
}

.priceDiscounted{
    font-family: var(--font-principal);
    color: var(--color-light-gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-decoration: line-through;
}

.priceOriginal{
    font-family: var(--font-principal);
    color: var(--color-dark-gray);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.75px;
}


