.slideGallery{
    max-width: 1440px;
    background-color: var(--color-light-gray-3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

:global(.p-galleria .p-galleria-item-nav) {
  color: var(--color-primary) !important;
}

.customSlide{
    width: 100%;
    height: 661px;
    padding: 1rem 4rem;
    box-sizing: border-box;
    overflow: hidden;
}

.slideContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideAdvertising{
    display: flex;
    justify-content: flex-start;
    color: var(--color-warning);
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.75px;
    margin-bottom: 1rem;
}

.customSlide h2{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    color: var(--color-dark-gray);
    font-family: var(--font-principal);
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    align-items: center;
    position: relative;
}

.emojiFire{
    position: absolute;
    top: 3rem;
    left: 24rem;
    width: 120px;
    height: auto;
}

.slideText{
    display: flex;
    justify-content: flex-start;
    color: var(--color-dark-gray-2);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1rem;
}

.imgsContatiner{
    display: flex;
    position: relative;
}

.slideShoes {
  width: 773px;
  height: auto;
}

.ornament{
    position: absolute;
    top: 6rem;
    left: 41rem;
    height: 140px;
}


.viewGallery{
    width: 820px;
    margin-top: 4rem;
}

:global(.p-galleria-thumbnail-container){
    all: unset;
    padding: 1rem;
}

:global(.p-galleria-thumbnail-item){
    opacity: unset;
}

:global(.p-galleria-thumbnail-items-container){
    width: 90%;
    justify-self: center;
}

:global(.p-galleria-thumbnail-prev),
:global(.p-galleria-thumbnail-next) {
  display: none;
}


/* RESPONSIVIDADE */

@media (max-width: 768px){
    .slideContainer{
        flex-direction: column;
        text-align: center;
    }

    .slideAdvertising{
        justify-content: center;
        color: var(--color-primary);
        margin-bottom: 0;
    }

    .customSlide{
        padding: 1rem;
        height: auto;
    }

    .title{
        justify-content: center;
        padding: 1rem 3rem;
    }

    .customSlide h2{
        justify-content: center;
        text-align: center;
        width: 280px;
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .divEmojiFire{
        position: relative;
        right: 25.8rem;
        bottom: 3.8rem;
    }

    .emojiFire{
        width: 70px;
    }

    .slideText{
        justify-content: center;
        padding: 0 1rem;
        font-size: 1rem;
        margin-bottom: 1.6rem;
    }

    .imgsContatiner{
        order: -1;
    }

    .slideShoes{
        width: 400px;
        max-width: 490px;
        height: auto;
        z-index: 1;
    }

    .ornament{
        position: absolute;
        top: 0.5rem;
        left: 19rem;
        height: 140px;
        z-index: 0; 
    }

    :global(.p-galleria .p-galleria-item-nav){
        display: none;
    }

    :global(.px-7){
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }

}