.slideGallery{
    max-width: 1440px;
    background-color: var(--color-light-gray-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.p-galleria .p-galleria-item-nav) {
  color: var(--color-primary) !important;
}

.customSlide{
    width: 100%;
    height: 661px;
    padding: 1rem 4rem;
    box-sizing: border-box;
    overflow: hidden;
}

.slideContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideAdvertising{
    display: flex;
    justify-content: flex-start;
    color: var(--color-warning);
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.75px;
    margin-bottom: 1rem;
}

.customSlide h2{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    color: var(--color-dark-gray);
    font-family: var(--font-principal);
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    align-items: center;
    position: relative;
}

.emojiFire{
    position: absolute;
    bottom: 1.5rem;
    left: 23rem;
    width: 150px;
    height: auto;
}

.slideText{
    display: flex;
    justify-content: flex-start;
    color: var(--color-dark-gray-2);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1rem;
}

.imgsContatiner{
    display: flex;
    position: relative;
}

.slideShoes {
  width: 773px;
  height: auto;
}

.ornament{
    position: absolute;
    top: 6rem;
    left: 41rem;
    height: 140px;
}


.viewGallery{
    width: 820px;
    margin-top: 4rem;
}

:global(.p-galleria-thumbnail-container){
    all: unset;
    padding: 1rem;
}

:global(.p-galleria-thumbnail-item){
    opacity: unset;
}

:global(.p-galleria-thumbnail-items-container){
    width: 90%;
    justify-self: center;
}

:global(.p-galleria-thumbnail-prev),
:global(.p-galleria-thumbnail-next) {
  display: none;
}
