*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #C92071;
    --color-secondary: #B5B6F2;
    --color-tertiary: #991956;
    --color-error: #EE4266;
    --color-success: #52CA76;
    --color-warning: #F6AA1C;

    --color-dark-gray: #1F1F1F;
    --color-dark-gray-2: #474747;
    --color-dark-gray-3: #666666;
    --color-light-gray: #8F8F8F;
    --color-light-gray-2: #CCCCCC;
    --color-light-gray-3: #F5F5F5;
    --color-white: #FFFFFF;

    --font-principal: "Inter", sans-serif;
}